@tailwind base;
@tailwind components;
@tailwind utilities;

h3, h2 {
  @apply font-fira_retina;
  font-size: 15px;
}

html {
    @apply bg-dark-background;
    height: stretch;
    width: stretch;
    margin: 30px;
}

body {
    height: stretch;
    width: stretch;
}

#__nuxt {
  @apply bg-blue-background flex flex-col justify-between;
  border-radius: 7px;
  border: 1px solid #1E2D3D;
  height: 100%;
  width: 100%;
}


/* SM - LG */
@media (max-width: 1024px) {

html {
  margin: 15px;
  min-height: 100%;
  height: stretch;
  width: stretch;
}

#__nuxt {
  @apply bg-blue-background flex flex-col justify-between;
  height: auto;
  min-height: stretch; /* This allows the page view for mobile to be full height when the content is less than the screen height. */
  width: 100%;
  width: auto;
}

#page-menu, #nav-logo, #filter-menu {
  border: 0px;
}
}

/* LG - XL */
@media (min-width: 1024px) {
#page-menu, #nav-logo, #filter-menu {
  min-width: 250px !important;
  max-width: 250px !important;
}
}

/* XL to infinite */
@media (min-width: 1536px) {

/* desktop page-menu and */
#page-menu, #nav-logo, #filter-menu {
  min-width: 310px !important;
  max-width: 310px !important;
}
}

#section-content-title {
  width: 100%;
  min-height: 35px;
  border-bottom: 1px solid #1E2D3D;
  }

#section-content-title:hover {
  cursor: pointer;
}

#section-content-title-contact {
  @apply cursor-pointer;
  border-bottom: 1px solid #1E2D3D;

  height: 35px;
}

/* MOBILE MENU VIEW */
@media (max-width: 1024px) {
  #page-menu {
    width: 100% !important;
  }

  #section-content-title {
  width: 100%;
  height: 30px;
  background-color: #1E2D3D;
  align-items: center;
  padding: 0 25px;
  }

  #section-content-title-contact {
    width: 100%;
    height: 35px;
    background-color: #1E2D3D;
    margin-bottom: 3px
  }

  #left, #contact-menu {
    border-right: 0px;
  }

}

/* Mobile */
#mobile-page-title {
  font-size: 14px;
  height: 70px;
  color: white;
  padding: 0 25px;
  align-items: center;
}

.section-arrow {
  margin-right: 10px;
  transition: 0.1s;
}


/* Borders */

.border-top {
  border-top: 1px solid #1E2D3D;
}

.border-right {
  border-right: 1px solid #1E2D3D;
}

.border-bot {
  border-bottom: 1px solid #1E2D3D;
}

.border-left {
  border-left: 1px solid #1E2D3D;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 20px;
  border-left: 1px solid #1E2D3D;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #607B96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7B9BBB;
}

/* Fonts */

@font-face {
    font-family: "Fira Code Light";
    src: url("./fonts/fira-code/FiraCode-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("./fonts/fira-code/FiraCode-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Retina";
  src: url("./fonts/fira-code/FiraCode-Retina.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Medium";
  src: url("./fonts/fira-code/FiraCode-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code SemiBold";
  src: url("./fonts/fira-code/FiraCode-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Bold";
  src: url("./fonts/fira-code/FiraCode-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Variable";
  src: url("./fonts/fira-code/FiraCode-Variable.ttf") format('truetype');
}