@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-dark-background;
    height: stretch;
    width: stretch;
    margin: 30px
}

body {
    height: 100%;
    width: 100%;
}

#__nuxt {
    height: 100%;
    width: 100%;
}

.box {
  @apply bg-blue-background;
  border-radius: 7px;
  border: 1px solid #1E2D3D;
  height: stretch;
  width: stretch;
}

@media (max-width: 1024px) {

  html {
    margin: 15px;
    min-height: stretch;
    height: stretch;
    width: stretch;
  }

  body {

  }

  #__nuxt {
    height: 100%;
    width: 100%;

    width: auto;
  }

  .box {
    width: 100%;
    min-height: 100%;

    height: auto;
    overflow-y: scroll;
  }
}

/* Transition Effect (All elements) */

/* * {
    transition: all 0.25s ease-out;
} */

/* Page transition effects */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* Borders */

.border-top {
  border-top: 1px solid #1E2D3D;
}

.border-right {
  border-right: 1px solid #1E2D3D;
}

.border-bot {
  border-bottom: 1px solid #1E2D3D;
}

.border-left {
  border-left: 1px solid #1E2D3D;
}

@font-face {
    font-family: "Fira Code Light";
    src: url("./fonts/fira-code/FiraCode-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("./fonts/fira-code/FiraCode-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Retina";
  src: url("./fonts/fira-code/FiraCode-Retina.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Medium";
  src: url("./fonts/fira-code/FiraCode-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code SemiBold";
  src: url("./fonts/fira-code/FiraCode-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Bold";
  src: url("./fonts/fira-code/FiraCode-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Fira Code Variable";
  src: url("./fonts/fira-code/FiraCode-Variable.ttf") format('truetype');
}